In [24]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os
import csv
from census import Census
from us import states
from pprint import pprint
# Census API Key
# from config import api_key

In [25]:
temp_df = pd.read_csv("Resources/election_all.csv")
temp_df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [26]:
temp_df1 = temp_df[['year', 'state', 'state_po', 'county', 'candidate','party', 'candidatevotes', 'totalvotes']]
temp_df1.columns = ['year', 'state', 'state_code', 'county', 'candidate', 'party','candidate_votes', 'total_votes']
temp_df2 = temp_df1.loc[temp_df1["year"] == 2008]
temp_df2

,year,state,state_code,county,candidate,party,candidate_votes,total_votes
21815,2008,Alabama,AL,Autauga,Barack Obama,democrat,6093.0,23641
21816,2008,Alabama,AL,Autauga,John McCain,republican,17403.0,23641
21817,2008,Alabama,AL,Autauga,Other,NaN,145.0,23641
21818,2008,Alabama,AL,Baldwin,Barack Obama,democrat,19386.0,81413
21819,2008,Alabama,AL,Baldwin,John McCain,republican,61271.0,81413
...,...,...,...,...,...,...,...,...
50273,2008,Alaska,AK,District 40,John McCain,republican,2686.0,5000
50274,2008,Alaska,AK,District 40,Other,NaN,177.0,5000
50275,2008,Alaska,NaN,District 99,Barack Obama,democrat,NaN,0
50276,2008,Alaska,NaN,District 99,John McCain,republican,NaN,0
50277,2008,Alaska,NaN,District 99,Other,NaN,NaN,0

In [27]:
election_data_2008 = temp_df2.dropna()
election_data_2008.to_csv(r'Resources/election_data2008.csv', index = False, header=True)
election_data_2008

,year,state,state_code,county,candidate,party,candidate_votes,total_votes
21815,2008,Alabama,AL,Autauga,Barack Obama,democrat,6093.0,23641
21816,2008,Alabama,AL,Autauga,John McCain,republican,17403.0,23641
21818,2008,Alabama,AL,Baldwin,Barack Obama,democrat,19386.0,81413
21819,2008,Alabama,AL,Baldwin,John McCain,republican,61271.0,81413
21821,2008,Alabama,AL,Barbour,Barack Obama,democrat,5697.0,11630
...,...,...,...,...,...,...,...,...
50267,2008,Alaska,AK,District 38,John McCain,republican,2056.0,4820
50269,2008,Alaska,AK,District 39,Barack Obama,democrat,2695.0,5184
50270,2008,Alaska,AK,District 39,John McCain,republican,2323.0,5184
50272,2008,Alaska,AK,District 40,Barack Obama,democrat,2137.0,5000
50273,2008,Alaska,AK,District 40,John McCain,republican,2686.0,5000