In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import os
import csv
from census import Census
from us import states
from pprint import pprint
# Census API Key
# from config import api_key

In [2]:
temp_df = pd.read_csv("Resources/election_all.csv")
temp_df.head()

,year,state,state_po,county,FIPS,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203

In [3]:
temp_df1 = temp_df[['year', 'state', 'state_po', 'county', 'candidate','party', 'candidatevotes', 'totalvotes']]
temp_df1.columns = ['year', 'state', 'state_code', 'county', 'candidate', 'party','candidate_votes', 'total_votes']
temp_df2 = temp_df1.loc[temp_df1["year"] == 2012]
temp_df2

,year,state,state_code,county,candidate,party,candidate_votes,total_votes
31166,2012,Alabama,AL,Autauga,Barack Obama,democrat,6363.0,23932
31167,2012,Alabama,AL,Autauga,Mitt Romney,republican,17379.0,23932
31168,2012,Alabama,AL,Autauga,Other,NaN,190.0,23932
31169,2012,Alabama,AL,Baldwin,Barack Obama,democrat,18424.0,85338
31170,2012,Alabama,AL,Baldwin,Mitt Romney,republican,66016.0,85338
...,...,...,...,...,...,...,...,...
50396,2012,Alaska,AK,District 40,Mitt Romney,republican,1347.0,4235
50397,2012,Alaska,AK,District 40,Other,NaN,171.0,4235
50398,2012,Alaska,NaN,District 99,Barack Obama,democrat,NaN,74045
50399,2012,Alaska,NaN,District 99,Mitt Romney,republican,NaN,74045
50400,2012,Alaska,NaN,District 99,Other,NaN,NaN,74045

In [5]:
election_data_2012 = temp_df2.dropna()
election_data_2012.to_csv(r'Resources/election_data2012.csv', index = False, header=True)
election_data_2012

,year,state,state_code,county,candidate,party,candidate_votes,total_votes
31166,2012,Alabama,AL,Autauga,Barack Obama,democrat,6363.0,23932
31167,2012,Alabama,AL,Autauga,Mitt Romney,republican,17379.0,23932
31169,2012,Alabama,AL,Baldwin,Barack Obama,democrat,18424.0,85338
31170,2012,Alabama,AL,Baldwin,Mitt Romney,republican,66016.0,85338
31172,2012,Alabama,AL,Barbour,Barack Obama,democrat,5912.0,11509
...,...,...,...,...,...,...,...,...
50390,2012,Alaska,AK,District 38,Mitt Romney,republican,2259.0,6814
50392,2012,Alaska,AK,District 39,Barack Obama,democrat,3645.0,6560
50393,2012,Alaska,AK,District 39,Mitt Romney,republican,2566.0,6560
50395,2012,Alaska,AK,District 40,Barack Obama,democrat,2717.0,4235
50396,2012,Alaska,AK,District 40,Mitt Romney,republican,1347.0,4235